/* Imports */
@import url('https://fonts.goggleapis.com/css');

/* Define color variables */
:root {
    --primary-color: #00FF00;
    --secondary-color: #404040;
    --background-color: #282828;
}



* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

html {
    font-size: 16px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    height: 90%;
    width: 80%;
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: var(--primary-color);
}

/*

Stock section

*/

#stock {
    gap: 4rem;
}

.stock__header {
    font-size: 3.7rem;
    margin: 3rem 0 0 0;
}

.stock__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.stock__card {
    height: 400px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border: 1.8px solid;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 8px;
}

/*

User UI section

*/

.user-ui__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;    
    max-width: 50%;    
}

.user-ui_input {
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 5px;
    height: 2.5rem;
    background-color: var(--secondary-color);
}

.user-ui__btn {
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    margin-left: 2rem;
    padding: 8px;
    cursor: pointer;
    color: var(--primary-color);
    
    border-radius: 20px; 
    outline: none;
    text-decoration: none;   
    background-color: var(--background-color);
    box-shadow: #161618 0 -12px 6px inset;
    transition: all .15s ease;
}

.user-ui__btn:hover {
    color: var(--secondary-color);
    box-shadow: var(--primary-color) 0 -6px 8px inset;
    background-color: var(--primary-color);
    transform: scale(1.125);
}


